<div class="kajas-wrapper">
    <app-link-button [isReverse]="true"
                     [url]="'/automasina'">
    </app-link-button>
    <app-link-button class="link-button-right"
                     [url]="'/alternativas'">
    </app-link-button>
</div>

<div class="kajas-content">
    <div class="kajas-content-text">
        <div class="kajas-content-title">{{ 'kajas.title' | translate }}</div>
        <div>
            <div>{{ 'kajas.paragraph1' | translate }}</div>
            <br>
            <div>{{ 'kajas.paragraph2' | translate }}</div>
            <br>
            <div>{{ 'kajas.paragraph3' | translate }}</div>
        </div>
    </div>

    <div class="images">
        <div class="kajas-picture">
            <img src="../../../assets/centrs.png"
                 alt="Centra rajons vakara stundā"
                 width="400px"
                 height="400px">
        </div>
        <div class="kajas-picture">
            <img src="../../../assets/deglava-tilts.png"
                 alt="Deglava tilts atvērts gājējiem remontdarbu laikā"
                 width="400px"
                 height="400px">
        </div>
    </div>
</div>
