<div class="kajas-wrapper">
    <app-link-button [isReverse]="true"
                     [routerLink]="'/automasina'">
    </app-link-button>
    <app-link-button class="link-button-right"
                     [routerLink]="'/alternativas'">
    </app-link-button>
</div>

<div class="kajas-content">
    <div class="kajas-content-text">
        <div class="kajas-content-title">{{ 'kajas.title' | translate }}</div>
        <div>
            <div>{{ 'kajas.paragraph1' | translate }}</div>
            <br>
            <div>{{ 'kajas.paragraph2' | translate }}</div>
            <br>
            <div>{{ 'kajas.paragraph3' | translate }}</div>
        </div>
    </div>

    <div class="kajas-picture">
        <img src="../../../assets/kajas.png"
             alt="Ar kājām bilde"
             width="400px"
             height="400px">
    </div>
</div>
