<div class="automasina-wrapper">
    <app-link-button [isReverse]="true"
                     [url]="'/sabiedriskais'">
    </app-link-button>
    <app-link-button class="link-button-right"
                     [url]="'/ar-kajam'">
    </app-link-button>
</div>

<div class="automasina-content">
    <div class="automasina-content-text">
        <div class="automasina-content-title">{{ 'automasina.title' | translate }}</div>
        <div>
            <div>{{ 'automasina.paragraph1' | translate }}</div>
            <br>
            <div>{{ 'automasina.paragraph2' | translate }}</div>
            <br>
            <div>{{ 'automasina.paragraph3' | translate }}</div>
            <br>
            <div>{{ 'automasina.paragraph4' | translate }}</div>
            <br>
            <div>{{ 'automasina.paragraph5' | translate }}</div>
        </div>
    </div>

    <div class="images">
        <div class="automasina-picture">
            <img src="../../../assets/masina.png"
                 alt="Mašīna"
                 width="400px"
                 height="400px">
        </div>
        <div class="automasina-picture">
            <img src="../../../assets/automasina-cels.png"
                 alt="Karte ar mašīnas ceļu"
                 width="400px"
                 height="400px">
        </div>
    </div>
</div>
