<div class="skersli-wrapper">
    <app-link-button [isReverse]="true"
                     [url]="'/alternativas'">
    </app-link-button>
    <app-link-button class="link-button-right"
                     [url]="'/iespejas'">
    </app-link-button>
</div>

<div class="skersli-content">
    <div class="skersli-content-text">
        <div class="skersli-content-title">{{ 'skersli.title' | translate }}</div>
        <div>
            <div>{{ 'skersli.paragraph1' | translate }}</div>
            <br>
            <div>{{ 'skersli.paragraph2' | translate }}</div>
        </div>
    </div>

    <div class="images">
        <div class="kajas-picture">
            <img src="../../../assets/remontdarbi.png"
                 alt="Būvniecības darbi rail baltica projektam"
                 width="400px"
                 height="400px">
        </div>
        <div class="kajas-picture">
            <img src="../../../assets/autostavvieta.png"
                 alt="Stāvvieta pie Latvijas Zinātņu akadēmijas"
                 width="400px"
                 height="400px">
        </div>
    </div>
</div>
