<div class="sabiedriskais-wrapper">
    <app-link-button [isReverse]="true"
                     [url]="'/majas'">
    </app-link-button>
    <app-link-button class="link-button-right"
                     [url]="'/automasina'">
    </app-link-button>
</div>

<div class="sabiedriskais-content">
    <div class="sabiedriskais-content-text">
        <div class="sabiedriskais-content-title">{{ 'sabiedriskais.title' | translate }}</div>
        <div>
            <div>{{ 'sabiedriskais.paragraph1' | translate }}</div>
            <br>
            <div>{{ 'sabiedriskais.paragraph2' | translate }}</div>
            <br>
            <div>{{ 'sabiedriskais.paragraph3' | translate }}</div>
        </div>
    </div>

    <div class="images">
        <div class="sabiedriskais-picture">
            <img src="../../../assets/22trolejbuss.png"
                 alt="22. trolejbusa bilde"
                 width="400px"
                 height="400px">
        </div>
        <div class="sabiedriskais-picture">
            <img src="../../../assets/3autobuss.png"
                 alt="3. autobusa bilde"
                 width="400px"
                 height="400px">
        </div>
    </div>
</div>
