<div class="alternativas-wrapper">
    <app-link-button [isReverse]="true"
                     [routerLink]="'/ar-kajam'">
    </app-link-button>
    <app-link-button class="link-button-right"
                     [routerLink]="'/skersli'">
    </app-link-button>
</div>

<div class="alternativas-content">
    <div class="alternativas-content-text">
        <div class="alternativas-content-title">{{ 'alternativas.title' | translate }}</div>
        <div>
            <div>{{ 'alternativas.paragraph1' | translate }}</div>
            <br>
            <div>{{ 'alternativas.paragraph2' | translate }}</div>
            <br>
            <div>{{ 'alternativas.paragraph3' | translate }}</div>
            <br>
            <div>{{ 'alternativas.paragraph4' | translate }}</div>
        </div>
    </div>

    <div class="alternativas-picture">
        <img src="../../../assets/alternativas.png"
             alt="alternatīvu bilde"
             width="400px"
             height="400px">
    </div>
</div>
