<div class="piedzivojumi-wrapper">
    <app-link-button [isReverse]="true"
                     [routerLink]="'/iespejas'">
    </app-link-button>
</div>

<div class="piedzivojumi-content">
    <div class="piedzivojumi-content-text">
        <div class="piedzivojumi-content-title">{{ 'piedzivojumi.title' | translate }}</div>
        <div>
            <div>{{ 'piedzivojumi.paragraph1' | translate }}</div>
            <br>
            <div>{{ 'piedzivojumi.paragraph2' | translate }}</div>
            <br>
            <div>{{ 'piedzivojumi.paragraph3' | translate }}</div>
        </div>
    </div>

    <div class="piedzivojumi-picture">
        <img src="../../../assets/piedzivojumi.png"
             alt="Piedzīvojumu bilde"
             width="400px"
             height="400px">
    </div>
</div>
