<div class="piedzivojumi-wrapper">
    <app-link-button [isReverse]="true"
                     [url]="'/iespejas'">
    </app-link-button>
</div>

<div class="piedzivojumi-content">
    <div class="piedzivojumi-content-text">
        <div class="piedzivojumi-content-title">{{ 'piedzivojumi.title' | translate }}</div>
        <div>
            <div>{{ 'piedzivojumi.paragraph1' | translate }}</div>
            <br>
            <div>{{ 'piedzivojumi.paragraph2' | translate }}</div>
            <br>
            <div>{{ 'piedzivojumi.paragraph3' | translate }}</div>
        </div>
    </div>

    <div class="images">
        <div class="piedzivojumi-picture">
            <img src="../../../assets/izsistas-durvis.png"
                 alt="Izsistas durvis"
                 width="400px"
                 height="400px">
        </div>
        <div class="piedzivojumi-picture">
            <img src="../../../assets/nolauzts-spogulis.png"
                 alt="Nolauzts spogulis"
                 width="400px"
                 height="400px">
        </div>
    </div>
</div>
