<nav>
   <div class="navbar-left">
      <a routerLink="/majas">
         <img src="../../assets/logo.png"
              alt="Navbar Icon"
              width="75"
              height="75">
      </a>
   </div>

   <div class="navbar-right"
        [ngClass]="{ 'responsive': isResponsive }">
      <a class="navbar-link"
         routerLink="/majas"
         routerLinkActive="active">
         {{ 'navbar.majas' | translate }}
      </a>

      <div class="dropdown"
           [ngClass]="{'active': isDropdownLinkSelected}">
         <div class="dropdown-title"
              (click)="toggleDropdown()">
            {{ 'navbar.cels' | translate }} >
         </div>
         <div class="dropdown-content">
            <a class="navbar-link"
               routerLink="/sabiedriskais"
               routerLinkActive="active">
               {{ 'navbar.sabiedriskais' | translate }}
            </a>
            <a class="navbar-link"
               routerLink="/automasina"
               routerLinkActive="active">
               {{ 'navbar.automasina' | translate }}
            </a>
            <a class="navbar-link"
               routerLink="/ar-kajam"
               routerLinkActive="active">
               {{ 'navbar.ar-kajam' | translate }}
            </a>
            <a class="navbar-link"
               routerLink="/alternativas"
               routerLinkActive="active">
               {{ 'navbar.alternativas' | translate }}
            </a>
         </div>
      </div>

      <a class="navbar-link"
         routerLink="/skersli"
         routerLinkActive="active">
         {{ 'navbar.skersli' | translate }}
      </a>
      <a class="navbar-link"
         routerLink="/iespejas"
         routerLinkActive="active">
         {{ 'navbar.iespejas' | translate }}
      </a>
      <a class="navbar-link"
         routerLink="/piedzivojumi"
         routerLinkActive="active">
         {{ 'navbar.piedzivojumi' | translate }}
      </a>

      <div class="language">
         <div class="dropdown">
            <div class="dropdown-title"
                 (click)="toggleDropdown()">
               🌍 / {{ currentLanguage | uppercase }}&nbsp;
               <span class="flag-span">
                  <img *ngIf="isLatvianEnabled"
                       class="flag"
                       alt="Latviešu valoda"
                       width="25px"
                       height="20px"
                       src="../../assets/karogs-lv.png">
                  <img *ngIf="isEnglishEnabled"
                       class="flag"
                       alt="English"
                       width="25px"
                       height="20px"
                       src="../../assets/karogs-en.png">
               </span>
            </div>
            <div class="dropdown-content">
               <a class="navbar-link"
                  [ngClass]="{'language-enabled': isLatvianEnabled}"
                  (click)="changeLanguage('lv')">
                  LV&nbsp;
                  <span class="flag-span">
                     <img class="flag"
                          alt="Latviešu valoda"
                          width="25px"
                          height="20px"
                          src="../../assets/karogs-lv.png">
                  </span>
               </a>
               <a class="navbar-link"
                  [ngClass]="{'language-enabled': isEnglishEnabled}"
                  (click)="changeLanguage('en')">
                  EN&nbsp;
                  <span class="flag-span">
                     <img class="flag"
                          alt="English"
                          width="25px"
                          height="20px"
                          src="../../assets/karogs-en.png">
                  </span>
               </a>
            </div>
         </div>
      </div>
   </div>

   <div class="hamburger-icon"
        (click)="toggleResponsive()">
      <img src="../../assets/hamburger.png"
           alt="Hamburger Icon"
           width="50"
           height="50">
   </div>
</nav>
